{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

    <h1>Новости</h1>
    <p> Количество новостей: {{ news | length }}</p>

    {% if news %}
        {% for news_one in news %}
            <h2>{{ news_one.title | censor:'очень_плохое_слово'}}</h2>
            <p>{{ news_one.creation_datetime | date:'d.m.Y'}}</p>
            <p>{{ news_one.text | censor:'очень_плохое_слово' | truncatechars:50}}</p>
        {% endfor %}
    {% else %}
        <h2>Нет никаких новостей :(</h2>
    {% endif %}

{% endblock content %}